<div class="h-20 bg-yellow-200 flex justify-between items-center max-w-5xl m-auto">
    <div>
        <a
            class="mr-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            routerLink="/"
            >Go Home</a
        >
    </div>
    <div>
        @if (isLogin) {
        <button
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            (click)="handleLogout()"
        >
            Logout
        </button>
        } @else {
        <a
            class="mr-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            routerLink="/login"
            >Log In</a
        >
        <a
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            routerLink="/signup"
            >Sign Up</a
        >
        }
    </div>
</div>
